body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

.header-bg{
    background-color: #000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    max-width: 1160px;
    margin: 0 auto;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.brand-logo{
    width: 100px;
}

.header-menu a{
    padding: 16px 0px;
    display: inline-block;
    color: #fff;
    position: relative;
    font-size: 18px;
}
.header-menu a::after{
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0%;
    background-color: #FFF;
    margin-top: 4px;
    transition: .3s;
}
.header-menu a:hover::after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #FFF;
    margin-top: 4px;
}

@media(max-width:800px){
    .header-menu a{
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover::after{
        content: "";
        display: none;
      
    }

    .header-menu a:hover{
      background-color: #2e2e2e;
    }

    .header-menu{
        gap: 20px;
    }
}

@media(max-width:600px){
    .header-menu a{
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu{
        gap: 12px;
        font-size: 14px;
    }
}