@import url("../utilitarios/cores.css");

.header-bg{
    background-color: var(--cor-12);
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.brand-logo{
    width: 100px;
}

.header-menu a{
    padding: 16px 0px;
    display: inline-block;
    color: var(--cor-0);
    position: relative;
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
}
.header-menu a::after{
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0%;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: .3s;
}
.header-menu a:hover::after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--cor-0);
    margin-top: 4px;
}

@media(max-width:800px){
    .header-menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover::after{
        content: "";
        display: none;
      
    }

    .header-menu a:hover{
      background-color: var(--cor-10);
    }

    .header-menu{
        gap: 20px;
    }
}

@media(max-width:600px){
    .header-menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu{
        gap: 12px;
        font-size: 14px;
    }
}